.more-button {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgb(3 105 161);
    color: white;
    border-radius: 0.25rem;
    transform: scale(1);
    transition-duration: 300ms;
  }
  
  .more-button:hover {
    transform: scale(1.1);
    transition-duration: 300ms;
  }
  
  .card-image {
    height: 300px;
    width: 300px;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .card-profile-image {
    width: 100%;
    border-radius: 0.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .background-container {
    height: 20vw;
    width: 17vw;
    background-color: #fff;
    border-radius: 0.5rem;
    filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
  }

  .image-store {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    width: 100%;
    height: 80%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-text {
    padding-left: 1rem;
    padding-bottom: 1rem;
  }
  
  .text-header {
    color: rgb(96 165 250);
  }
  
  .text-sub-header {
    color: #686868;
  }
  
  .nav-item:hover {
    color: rgb(96 165 250);
    transform: scale(1.05);
    transition-duration: 300ms;
  }
  
  .nav-item {
    transform: scale(1);
    transition-duration: 300ms;
  }
  
  .display {
    display: flex;
    flex-direction: column;
  }
  
  .feed-button {
    width: 300px;
    height: 300px;
    background-color: white;
    color: black;
    font-size: 90px;
    border-radius: 1000rem;
    border: 1rem solid rgb(3 105 161);
    transform: scale(1);
    transition-duration: 300ms;
  }
  
  .feed-button:hover {
    transform: scale(1.05);
    transition-duration: 300ms;
    font-size: 86px;
    border: 1rem solid rgb(0, 166, 255);
  }
  
  .text-field {
    height: 2rem;
    margin-bottom: 5rem;
  }
  
  .nav-item-display {
    display: flex;
  }
  
  .label-header {
    font-size: xx-large;
  }
  
  @media screen and (max-width: 600px) {
    .nav-item-display {
      display: flex;
      flex-direction: column;
      font-size: 10px;
    }
  }